<p>Book was successfully created.</p>
<p>Book was successfully updated.</p>

<h2>タイトル</h2>
<p><%= @book.title %></p>

<h2>本文</h2>
<p><%= @book.body %></p>
<%= link_to "Edit", edit_book_path(@book.id) %>
<p>
  <a href="/books">Back</a>
</p>
